<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=IRANSansWeb(FaNum)&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2>
              <div class="e7_3"></div>
              <div class=e10_147><span class="e10_146">ورود</span></div>
              <div class=e10_145>
                <div class="e10_135"></div>
                <div class="e10_137"></div>
                <div class="e10_142"></div>
                <div class="e10_143"></div>
              </div><span class="e8_7">لطفا اطلاعات دانشجویی خود را وارد کنید</span>
              <div class="e8_5"></div><span class="e8_6">سامانه دانشجویی آموزشیار</span>
              <div class="e8_8"></div>
              <div class=e10_59>
                <div class=ei10_59_10_54><span class="ei10_59_10_55">شماره دانشجویی :<textarea></textarea></span></div>
                <div class=ei10_59_10_109>
                  <div class="ei10_59_10_110"></div>
                </div>
              </div>
              <div class=e10_88>
                <div class=ei10_88_10_85><span class="ei10_88_10_86">رمز عبور: <textarea></textarea></span></div>
                <div class=ei10_88_10_92>
                  <div class=ei10_88_10_93>
                    <div class="ei10_88_10_94"></div>
                    <div class="ei10_88_10_95"></div>
                  </div>
                </div>
              </div>
              <div class=e10_132>
                <div class=ei10_132_10_126><span class="ei10_132_10_127">کد تصویر</span></div>
              </div>
            </div>
          </body>
          </html>