.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-image:linear-gradient(0deg, rgba(199.0000033378601, 206.0000029206276, 243.00000071525574, 1) 0%,rgba(152.0000061392784, 165.00000536441803, 233.00000131130219, 1) 98.01247119903564%) ;
	width:1440px;
	height:827px;
	position:absolute;
}.e7_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:550px;
	height:779px;
	position:absolute;
	left:445px;
	top:24px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e10_147 { 
	background-color:rgba(55.00000052154064, 83.00000265240669, 206.0000029206276, 1);
	width:304px;
	height:48px;
	position:absolute;
	left:568px;
	top:626px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e10_146 { 
	color:rgba(255, 255, 255, 1);
	width:28px;
	height:25px;
	position:absolute;
	left:138px;
	top:11.5px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:16px;
	letter-spacing:0;
}.e10_145 { 
	width:119.77581787109375px;
	height:47.54460144042969px;
	position:absolute;
	left:579.8990478515625px;
	top:535.1044311523438px;
}.e10_135 { 
	background-color:rgba(239.00000095367432, 239.00000095367432, 239.00000095367432, 1);
	width:119.77581787109375px;
	height:47.54460144042969px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.10_135 { 
	border:1px solid rgba(215.89999169111252, 215.89999169111252, 215.89999169111252, 1);
}.e10_137 { 
	background-color:rgba(147.00000643730164, 147.00000643730164, 147.00000643730164, 1);
	width:19.20070457458496px;
	height:26.5152587890625px;
	position:absolute;
	left:21.943662643432617px;
	top:10.971831321716309px;
}.e10_142 { 
	background-color:rgba(147.00000643730164, 147.00000643730164, 147.00000643730164, 1);
	width:19.20070457458496px;
	height:26.5152587890625px;
	position:absolute;
	left:50.287559509277344px;
	top:10.971831321716309px;
}.e10_143 { 
	background-color:rgba(147.00000643730164, 147.00000643730164, 147.00000643730164, 1);
	width:19.20070457458496px;
	height:26.5152587890625px;
	position:absolute;
	left:78.63145446777344px;
	top:10.971831321716309px;
}.e8_7 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:256px;
	height:21px;
	position:absolute;
	left:592px;
	top:295px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:15px;
	letter-spacing:2;
}.e8_5 { 
	width:137px;
	height:138px;
	position:absolute;
	left:652px;
	top:73px;
	background-image:url(images/0207whatsapp_image_2021_09_19_at_01_59_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e8_6 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:28px;
	position:absolute;
	left:607px;
	top:252px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:20px;
	letter-spacing:2.5;
}.8_8 { 
	border:2px solid rgba(0, 0, 0, 1);
}.e8_8 { 
	width:304px;
	height:0px;
	position:absolute;
	left:568px;
	top:350px;
}.10_59 { 
	border:2px solid rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
}.e10_59 { 
	width:304px;
	height:49px;
	position:absolute;
	left:568px;
	top:385px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei10_59_10_54 { 
	width:107px;
	height:24px;
	position:absolute;
	left:147px;
	top:14px;
}.ei10_59_10_55 { 
	color:rgba(164.00000542402267, 165.00000536441803, 167.00000524520874, 1);
	width:87px;
	height:20px;
	position:absolute;
	left:10px;
	top:2px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:13px;
	letter-spacing:0;
}.ei10_59_10_109 { 
	width:24px;
	height:24px;
	position:absolute;
	left:264px;
	top:14px;
}.ei10_59_10_110 { 
	background-color:rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
	width:19.500167846679688px;
	height:18.759044647216797px;
	position:absolute;
	left:2.25px;
	top:2.2499444484710693px;
}.10_88 { 
	border:2px solid rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
}.e10_88 { 
	width:304px;
	height:48px;
	position:absolute;
	left:568px;
	top:448px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei10_88_10_85 { 
	width:60px;
	height:24px;
	position:absolute;
	left:194px;
	top:14px;
}.ei10_88_10_86 { 
	color:rgba(164.00000542402267, 165.00000536441803, 167.00000524520874, 1);
	width:40px;
	height:20px;
	position:absolute;
	left:10px;
	top:2px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:13px;
	letter-spacing:0;
}.ei10_88_10_92 { 
	width:24px;
	height:24px;
	position:absolute;
	left:264px;
	top:14px;
}.ei10_88_10_93 { 
	width:18px;
	height:10px;
	position:absolute;
	left:3px;
	top:7px;
}.i10_88_10_94 { 
	border:1.5px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}.ei10_88_10_94 { 
	width:18px;
	height:6px;
	position:absolute;
	left:0px;
	top:0px;
}.i10_88_10_95 { 
	border:1.5px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}.ei10_88_10_95 { 
	width:6px;
	height:6px;
	position:absolute;
	left:6px;
	top:4px;
}.10_132 { 
	border:2px solid rgba(237.0000010728836, 237.0000010728836, 237.0000010728836, 1);
}.e10_132 { 
	width:128px;
	height:48px;
	position:absolute;
	left:744px;
	top:532px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.ei10_132_10_126 { 
	width:68px;
	height:24px;
	position:absolute;
	left:44px;
	top:14px;
}.ei10_132_10_127 { 
	color:rgba(164.00000542402267, 165.00000536441803, 167.00000524520874, 1);
	width:48px;
	height:20px;
	position:absolute;
	left:10px;
	top:2px;
	font-family:IRANSansWeb(FaNum);
	text-align:right;
	font-size:13px;
	letter-spacing:0;
}